{% extends "frontend/base.html" %}

{% load static %}

{% block content %} 
  
  <!-- Start Slider -->
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'frontend/assets/img/slider/DSC_0560__.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <!-- <h4>CONGRATULATIONS TO ALL #COMING2OLUAKA</h4> -->
        <!-- <span></span>
        <h2>We Will Help You To Learn</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
        <a href="#" class="mu-read-more-btn">Read More</a> -->
      </div>
    </div>
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single hw-bg"  id="service-pad">             
              <!-- <span class="fa fa-book"></span> -->
              <h3 style="text-align: left;">STUDENT'S ACCOMODATION PLAN</h3>
              <hr>
              <p style="text-align: justify;">Oluaka Institute is strategically located within a serene neighbourhood, providing our students with varied options in selecting their accomodation
                
                <br>For students who may choose to live not within the perimeters of the Institute, there is a direct route from the city of Owerri to the Institute</p>
                <p style="text-align: justify;"> </p>
                  <p style="text-align: justify;"></p>
                  <p style="text-align:justify;"></p>
                  <p style="text-align: justify;"></p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <!-- End service  -->
{% endblock content %}