{% extends "frontend/base.html" %}

{% load static %}

{% block content %}   
  <!-- Start Slider -->
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'frontend/assets/img/slider/engagement.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <!-- <h4>CONGRATULATIONS TO ALL #COMING2OLUAKA</h4> -->
        <!-- <span></span>
        <h2>We Will Help You To Learn</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
        <a href="#" class="mu-read-more-btn">Read More</a> -->
      </div>
    </div>
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single hw-bg"  id="service-pad">             
              <!-- <span class="fa fa-book"></span> -->
                <h3 style="text-align: left;">WHAT DO OUR STUDENTS DO AFTER GRADUATION?</h3><hr>
                <p style="text-align: justify;">This is one of the many questions we have to attend to every other day.</p>
                <blockquote style="font-style:oblique;">While graduation signifies the end of an era many students can be left wondering, 'what's next?'</blockquote>
                <p style="text-align: justify;">There are a number of routes you can take after your studies with us - and everyone's journey will be different. 
                    You could search for a job, enrol on an HNID/Graduate course or set up your own business. 
                    If you'd like to gain more experience before making a decision you could volunteer, intern for one year to learn the skills that are quite relevant in the Industries.</p>
                    <br>
                <h4 style="text-align: justify;">Become self-employed</h4>
                <br>
                <p style="text-align: justify;">Sometimes you need to think outside the box. If you can't find your dream job, why not create it by 
                    setting up your own company? Perhaps you have a great business idea or believe that your final-year project has commercial potential. 
                    If so putting your entrepreneurial skills to the test could be a smart move.</p>
                <p style="text-align: justify;">'Many universities/Polytechnics offer help to get you started. Here at the Oluaka Institute of Technology,
                    we run the Venture Programme, designed to equip students and graduates with the skills and knowledge to start a business.

                    If you have the confidence, tenacity and business acumen to get your organisation off the ground the advantages of self-employment include:</p>
                <br>
                <ul style="text-align: justify;">
                    <li><b>* independence and autonomy</b> - to make your own decisions</li>
                    <li><b>* control</b>  - over who you work with and the type of work you do</li>
                    <li><b>* freedom</b> - to work when you like on projects that you choose</li>
                    <li><b>* flexibility</b>  - to fit work commitments in with family and other interests</li>
                    <li><b>* opportunities</b>  - to build a portfolio of activities funded by different sources and to respond to ideas and proposals as you see fit</li>
                    <li><b>* recognition</b>  - you're able to take the credit for everything that you do, create, design or invent.</li>
                </ul>
                <p style="text-align: justify;"> </p>
                <p style="text-align: justify;"></p>
                <p style="text-align:justify;"></p>
                <p style="text-align: justify;"></p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <!-- End service  -->
{% endblock content %}