{% extends "frontend/base.html" %}

{% load static %}

{% block content %}
  <!-- Start Slider -->
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'frontend/assets/img/slider/hardware.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <!-- <h4>CONGRATULATIONS TO ALL #COMING2OLUAKA</h4> -->
        <!-- <span></span>
        <h2>We Will Help You To Learn</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
        <a href="#" class="mu-read-more-btn">Read More</a> -->
      </div>
    </div>
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single hw-bg"  id="service-pad">             
              <!-- <span class="fa fa-book"></span> -->
              <h3 style="text-align: left;">COMPUTER HARDWARE ENGINEERING</h3>
              <hr>
              <p style="text-align: justify;">Hardware Engineering is the process of designing, developing, testing and producing computer systems and various physical components related to computer systems. With the advent of technology and advances in R&D, the scope of hardware engineering has been expanded to include hardware devices enabling embedded software engineering in non-computer devices.

                In embedded systems, hardware engineering comprises of the process of design and development of all electronics related hardware such as sensors, processors and controllers.
                
                The scope of hardware engineering is limited not just to the designing and development of computer or embedded systems, but also to integrate the various devices for the functioning of the entire business system.
                
                With the advent of technology and advances in R&D, hardware engineering is now prevalent in newer fields such as mobile computing and distributed systems, computer vision and robotics, etc.</p>
                <p style="text-align: justify;"> At Oluaka Institute of Technology, Our course structure is designed such that our Hardware Engineering students get hand-on exposure on 
                  domain-specific Hardware engineering and design including but not limited to in VLSI ASIC, FPGA, board design, embedded software, 
                  mechanical engineering, and design, prototyping, and value-added engineering services such as compliance engineering, independent 
                  verification and validation and low volume manufacturing. <br>We offer these services for partial lifecycle product engineering and for full lifecycle solutions.</p>
                  <p style="text-align: justify;">Enrolling in this course gives you a National Innovation Diploma in Computer Hardware Engineering</p>
                  <p style="text-align:justify;">You may want to read more about our Examination and Assessment processes <a href="exams.html" style="color: greenyellow;">here</a></p>
                  <p style="text-align: justify;">WHAT DOES A HARDWARE ENGINEER DO?</p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <!-- End service  -->
{% endblock content %}