{% extends "frontend/base.html" %}

{% load static %}

{% block content %} 
<!-- Start Slider -->
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'frontend/assets/img/bg/sw-q1.jpg' %}" alt="img">
        </figure>
      </div>
    </div>
    <!-- Start single slider item -->
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single"  id="service-pad">             
              <!-- <span class="fa fa-book"></span> -->
              <h3 style="text-align: left;">EXAMINATION & ASSESSMENT</h3>
              <hr>
              <p style="text-align: justify;">At Oluaka Institute, we value some examination At Oluaka Institute, we value some examination At Oluaka Institute, we value some examination At Oluaka Institute, we value some examination
                At Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examination
                At Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examination
                At Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examinationAt Oluaka Institute, we value some examination
              preferably call the text from a dbase table</p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <!-- End service  -->
  {% endblock content %}